<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Ссылка</th>
        <th>Превью</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody *ngFor="let item of config | keyvalue; index as i">
    <tr>
        <td>
            {{ item.key}}
        </td>
        <td #emojiLink>
            {{item.value}}
        </td>
        <td align="center">
            <img height="50px" width="50px" src={{item.value}} alt="" style="cursor: pointer">
        </td>
        <td>
            <div class="text-center">
                <button style="background-color: aqua">*</button>
                <button>X</button>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<router-outlet></router-outlet>
<!--
89041211306 -крайс нефть
-->
