<!--
<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Ссылка</th>
        <th>Превью</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="">
        <td>
            {{emojis[0]}}
        </td>
        <td #emojiLink>
            {{value}}
        </td>
        <td align="center">
            <img height="50px" width="50px" src={{item.value}} alt="" style="cursor: pointer">
        </td>
        <td>
            <div class="text-center">
                <button style="background-color: aqua">*</button>
                <button>X</button>
            </div>
        </td>
    </tr>
    </tbody>
</table>
-->
<nav>
    <a routerLink="/all" routerLinkActive="active">Все</a>
    <a routerLink="/like" routerLinkActive="active">Любимые</a>
    <a routerLink="/del" routerLinkActive="active">Удаленные</a>
</nav>

<router-outlet></router-outlet>

