<div class="all">
    <nav class="left-side">
        <ul>
            <li><a routerLink="/all" routerLinkActive="active" >Все</a></li>
            <li><a routerLink="/like" routerLinkActive="active">Любимые</a></li>
            <li><a routerLink="/del" routerLinkActive="active">Удаленные</a></li>
        </ul>
    </nav>
    <div class="right-side">
        <header class="header">
            <h2>{{title}}</h2>
            <div class="search">
                <input type="text" placeholder="Поиск ... ">
            </div>
        </header>

        <router-outlet></router-outlet>

    </div>
</div>



