<table>
    <thead>
    <tr>
        <th width="10%">Имя</th>
        <th>Ссылка</th>
        <th width="15%">Превью</th>
        <th width="15%">Действия</th>
    </tr>
    </thead>
    <tbody *ngFor="let item of list | keyvalue; let i = index">
    <tr *ngIf="(i<50)">
        <td>
            {{item.key}}
        </td>
        <td>
            {{item.value}}
        </td>
        <td align="center">
            <div class="img" >
                <img src={{item.value}} class="img-fluid">
                <div class="img__big">
                    <img src={{item.value}}>
                </div>
            </div>
        </td>
        <td>
            <div class="text-center actions">
                <a class="btnLike" *ngIf="showLikeButton" (click)="setLike(item.key, item.value)"><img
                        src="{{(listLike[item.key])? srcIconLike : srcIcon}}"></a>
                <a class="btnDel" (click)="delFunc(item.key, item.value)">{{textButton}}</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
